.container {
    background-image: linear-gradient(to top, #32ab8f 0%, #ace0f9 100%);
    max-width: 40vw;
    padding: 10px;
    margin: auto;
    display: block;
    align-items: center;
    border-radius: 30%;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.inner {
    padding: 20px;
    width: 100%;
    margin: auto;
    display: block;
}

.inputs {
    width: 100%;
    margin: auto;
}

.inputs>input {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-family: monospace;
    text-align: center;
}

.btn {
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.btn>button {
    width: 120px;
    height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
    font-family: monospace;
}

.btn>button:hover {
    color: rgb(241, 245, 245);
    background-color: rgb(74, 71, 66);
    border-radius: 2px;
}