.container {
    max-height: 100vh;
    display: block;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 90%;
    margin: auto;
}